html {
    min-height: 100%;
    --height : 1080px;
    background: #1b242d;
    display: grid;
    grid-template-columns: auto var(--height) auto;
    grid-template-areas: ". body .";
}

body {
    grid-area: body;
    margin: 0;
    padding: 0;
    border: 0;
    min-height: var(--height);
    background: radial-gradient(circle 45vh at center, #8eb1c5 0%, #577991 25% , #2d3d4d 65% , #1b242d 100%);
    display: grid;
    grid-template-columns: calc(0.3 * var(--height)) calc(0.7 * var(--height));
    grid-template-rows: calc(0.1 * var(--height)) calc(0.5 * var(--height)) calc(0.2 * var(--height)) auto calc(0.05 * var(--height));
}

#buses {
    grid-area: 1 / 1 / 3 / 2;
    width: calc(0.3 * var(--height));
}

#above_menu {
    grid-area: 1 / 1 / 2 / 3;
    width: 100vw;
    height: 100%;
    align-self: center;
    justify-self: center;
    position: sticky;
    display: grid;
    grid-template-columns: auto calc(0.08 * var(--height)) calc(0.02 * var(--height)) calc(0.4 * var(--height)) calc(0.03 * var(--height)) calc(0.13 * var(--height)) calc(0.13 * var(--height)) calc(0.13 * var(--height)) auto;
    grid-template-areas: ". hwsymbol . title . loadbtn startbtn downloadbtn .";
    background: linear-gradient(0deg, #1b242d, #2d3d4d);
    box-shadow: 0vw 0vh 1vw rgba(15,15,15,0.5);
    z-index: 3;
}

#hw_symbol {
    grid-area: hwsymbol;
    width: calc(0.06 * var(--height));
    align-self: center;
    justify-self: center;
}

#above_menu h1 {
    grid-area: title;
    margin: 0;
    margin-top: calc(0.02 * var(--height));
    font-size: calc(0.05 * var(--height));
    font-weight: 100;
    text-align: left;
    color: #ffffff;
}

#loadbtn {
    grid-area: loadbtn;
}

#startbtn {
    grid-area: startbtn;
}

#downloadbtn {
    grid-area: downloadbtn;
}

.btn_disabled {
    background: linear-gradient(0deg, #1b242d, #2d3d4d);
    border: none;
    font-size: calc(0.03 * var(--height));
    color: #ffffff;
    cursor: auto;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

.btn_disabled:focus {
    outline: none;
}

.btn {
    background: linear-gradient(0deg, #1b242d, #2d3d4d);
    border: none;
    font-size: calc(0.03 * var(--height));
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.btn:hover {
    opacity: 1;
    background: #ff4d4d;
}

.btn:focus {
    outline: none;
    opacity: 1;
}

#info_img {
    grid-area: 3 / 1 / 4 / 2;
    width: calc(0.1 * var(--height));
    align-self: center;
    justify-self: center;
    transition-duration: 0.6s;
}

#info_btn {
    grid-area: 3 / 1 / 4 / 2;
    width: calc(0.1 * var(--height));
    align-self: center;
    justify-self: center;
    transition-duration: 0.6s;
}

#info_btn:hover {
    width: calc(0.15 * var(--height));
}

#info_btn:hover + #info_img{
    width: calc(0.05 * var(--height));
}

#debugger {
    grid-area: 2 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: auto calc(0.55 * var(--height)) auto;
    grid-template-rows: auto calc(0.55 * var(--height)) auto;
}

#debugger_bg {
    grid-area: 1 / 1 / 4 / 4;
    width: calc(0.7 * var(--height));
    z-index: 1;
}

#console {
    grid-area: 2 / 2 / 3 / 3;
    width: calc(0.55 * var(--height));
    z-index: 2;
}

#console {
    grid-area: 2 / 2 / 3 / 3;
    width: calc(0.55 * var(--height));
    height: calc(0.55 * var(--height));
    z-index: 2;
    align-self: center;
    justify-self: center;
    outline: none;
    overflow: visible;
    border: none;
    resize: none;
    background-color: transparent;
    color: #ffffff;
    font-size: calc(1.75vmin * var(--height));
}

::-webkit-scrollbar {
    width: calc(0.01 * var(--height));
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: calc(0.01 * var(--height));
    border-radius: calc(0.01 * var(--height));
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: calc(0.01 * var(--height));
    border-radius: calc(0.01 * var(--height));
    background: #f0f0f0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #f6f6f6;
}

#footer {
    grid-area: 5 / 1 / 6 / 3;
    width: 100vw;
    height: 100%;
    align-self: center;
    justify-self: center;
    position: sticky;
    display: grid;
    grid-template-columns: auto calc(0.4 * var(--height)) auto;
    grid-template-areas: ". author .";
    background: linear-gradient(0deg, #1b242d, #2d3d4d);
    box-shadow: 0vw 0vh 1vw rgba(15,15,15,0.5);
    z-index: 4;
}

#author {
    grid-area: author;
    font-size: calc(0.02 * var(--height));
}

#info_section {
    grid-area: 1 / 1 / 6 /3;
    z-index: 4;
    visibility: hidden;
    align-self: center;
    justify-self: center;
    height: calc(0.8 * var(--height));
    width: calc(0.7 * var(--height));
    background: linear-gradient(0deg, rgba(15,15,15,0.9), rgba(22,22,22,0.9));
    border-radius: calc(0.1 * var(--height));
}

#info_section h1 {
    font-size: calc(0.05 * var(--height));
    margin: 0;
    text-align: center;
    color: #f9f9f9;
}

#info_section p {
    font-size: calc(0.02 * var(--height));
    margin: calc(0.02 * var(--height));
    text-align: justify;
    color: #f9f9f9;
}

#info_section button {
    grid-area: infobtn;
    margin-left: calc(0.27 * var(--height));
    background: linear-gradient(0deg,#333333,#555555);
    border: none;
    font-size: calc(0.02 * var(--height));
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    opacity: 0.75;
    border-radius: calc(0.04 * var(--height));
    height: calc(0.06 * var(--height));
    width: calc(0.16 * var(--height));
}

#info_section button:hover {
    opacity: 1;
}

#info_section button:focus {
    opacity: 1;
    outline: 0;
}

.white_components {
    fill: #FFFFFF;
}